* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: #fafafa; */
}

.navbar {
  position: fixed;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  width: 100%;
  border-bottom: 1px solid rgb(218, 217, 217);
  
}

.navbar .container {
  /* background-color: #555; */
  padding: 15px 0;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 auto; */
}

.container .logo {
  display: inline-block;
  cursor: pointer;
}

.searchbar {
  width: 40%;
  text-align: end;
}

.searchbar_out {
  width: 40%;
  text-align: end;
}

.searchbar_out input {
  background-color: #fafafa;
  padding: 5px;
  outline: none;
  border: 1px solid rgb(218, 217, 217);
  text-align: center;
  border-radius: 2px;
  color: rgb(77, 77, 77);
}

.searchbar input {
  background-color: #fafafa;
  padding: 5px;
  outline: none;
  border: 1px solid rgb(218, 217, 217);
  text-align: center;
  border-radius: 2px;
  color: rgb(77, 77, 77);
}

.searchbar input::placeholder {
  font-weight: lighter;
  color: rgb(172, 172, 172);
}

.searchbar_out input::placeholder {
  font-weight: lighter;
  color: rgb(172, 172, 172);
}

.nav-links {
  font-weight: lighter;
  color: rgb(172, 172, 172);
  /* background: #333  ; */
}

.nav-group .nav-item {
  list-style-type: none;
  margin: 0 8px;
}

.nav-group .nav-item a {
  font-size: 22px;
  display: block;
  color: black;
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .profile {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container {
  position: relative;
  margin-top: 60px;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background: #ddd; */
}

.col-9 {
  width: 65%;
  margin-top: 30px;
}

.statuses {
  margin-bottom: 30px;
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0;
  border-radius: 2px;
  border: 1px solid rgb(218, 217, 217);
  overflow: auto;
}

.statuses .status {
  display: inline-block;
  border-radius: 50%;
  overflow: auto;
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-left: 15px;
  cursor: pointer;

}

.statuses .status .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.statuses .status img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-3 {
  width: 33%;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.col-3 h4 {
  color: rgb(100, 100, 100);
}

.col-3 .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  /* min-height: 400px; */
  display: inline-block;
}

.col-3 .card .top {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-3 .card .top a {
  color: #1d92ff;
}

.col-3 .card .bottom {
  padding: 10px 20px;
}

.col-3 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}

.col-3 .card .top .userDetails h3 {
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}

.col-3 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.col-3 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.col-9 .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  /* min-height: 400px; */
  display: inline-block;
  border: 1px solid rgba(7, 7, 7, 0.24);
}

.col-9 .card .top {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-9 .card .bottom {
  padding: 10px 20px;
}

.col-9 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}


.profilepic {
  display: inline-block;
  cursor: pointer;
}

.profilepic .profile_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.profilepic .profile_img .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.profilepic .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-9 .card .top .userDetails h3 {
  /* width: 100%; */
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}

.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.dot {
  transform: scale(0.6);
  cursor: pointer;
}

.imgBx {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 10px 0 15px;
}

.actionBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionBtns svg {
  cursor: pointer;
}

.actionBtns .left svg {
  margin-right: 8px;
}

.likes {
  font-weight: 500;
  margin-top: 5px;
  font-size: 14px;
  color: #4d4d4f;
}

.message {
  font-weight: 400;
  margin-top: 5px;
  font-size: 14px;
  color: #777;
  line-height: 1.5em;
}

.message b {
  color: #262626;
}

.message span {
  cursor: pointer;
  color: #1d92ff;
}

.comments {
  margin-top: 10px;
  font-weight: 400;
  color: #999;
}

.addComments {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.addComments a {
  color: #1d92ffcb;
  font-weight: 500;
}

.addComments .reaction {
  position: relative;
  font-size: 1.3rem;
  margin-right: 10px;
  color: rgb(88, 88, 88);
}

input.text {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  /* background: none; */
}

input.text::placeholder {
  color: #777;
}

.postTime {
  margin-top: 8px;
  font-weight: lighter;
  color: rgb(163, 163, 163);
  font-size: 12px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {

  .col-9 {
    width: 100%;
    /* background: #fafafa; */
  }

  .col-3 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 100% !important;
  }

  .navbar .container {
    padding: 15px 10px !important;
  }

  .col-9 {
    margin-top: 4px;
    min-width: 100%;
  }

  .statuses {
    margin-bottom: 0px;
  }

  .col-9 .card {
    margin-bottom: 0px;
    width: 100%;
    border: none;
  }

  .imgBx {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 10px 0 15px;
  }

  .searchbar {
    display: none;
  }
  .searchbar_out input {

    padding: 5px!important;

  }
}



/* Pagination */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: default;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.imgBx img{
  width: 100%!important;
  height: 100%!important;
  object-fit: contain!important;
  background-color:black!important;
}
.bootstrap-btn {
	display: inline-block;
	/* font-weight: 400; */
  font-weight: bold;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #007bff;
  cursor: pointer;
  margin-top: 15px;


}
.bootstrap-btn:hover {
  opacity: 0.6;
}
#button-fav{
  margin-left: -0.6em;
}
.noposts {
  border: 2px solid;
  padding: 5px;
  border-radius: 13px;
}




.findMoreFriendsButton {
  background-color: #2374E1;
  color: white; 
  border: 2px solid #2374E1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
  width: 106px;
  height: 36px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  
}

#buttonfindMoreFriends{
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo1 {
  display: inline !important;
}

#search {
  display: none;
}


@media screen and (max-width: 600px) {
  #logo1 {
    display: none !important;
  }

  #logo2 {
    display: inline !important;
  }

  #home {
    display: none;
  }

  #search {
    display: block;
  }

}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 19px;
  height: 19px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15.5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px !important;
}

.navbar {
  height: 56px !important;
}

.navbar h3 {
  font-size: 18.72px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a {
  text-decoration: none !important;
}

.navbar .searchbar input {
  width: 189px;
  height: 27px;
}

.navbar .searchbar input::placeholder {
  font-weight: lighter !important;
  color: rgb(172, 172, 172) !important;
  font-size: 14.3px;
}


/* Loader IOS */
.loader-ios {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: iosIntro 0.6s;
          animation: iosIntro 0.6s;
}
.loader-ios svg {
  fill: #868686;
}
.loader-ios svg path:nth-of-type(1) {
  -webkit-animation: pulse 1s infinite linear;
          animation: pulse 1s infinite linear;
}
.loader-ios svg path:nth-of-type(2) {
  -webkit-animation: pulse 1s -0.083s infinite linear;
          animation: pulse 1s -0.083s infinite linear;
}
.loader-ios svg path:nth-of-type(3) {
  -webkit-animation: pulse 1s -0.166s infinite linear;
          animation: pulse 1s -0.166s infinite linear;
}
.loader-ios svg path:nth-of-type(4) {
  -webkit-animation: pulse 1s -0.249s infinite linear;
          animation: pulse 1s -0.249s infinite linear;
}
.loader-ios svg path:nth-of-type(5) {
  -webkit-animation: pulse 1s -0.332s infinite linear;
          animation: pulse 1s -0.332s infinite linear;
}
.loader-ios svg path:nth-of-type(6) {
  -webkit-animation: pulse 1s -0.415s infinite linear;
          animation: pulse 1s -0.415s infinite linear;
}
.loader-ios svg path:nth-of-type(7) {
  -webkit-animation: pulse 1s -0.498s infinite linear;
          animation: pulse 1s -0.498s infinite linear;
}
.loader-ios svg path:nth-of-type(8) {
  -webkit-animation: pulse 1s -0.581s infinite linear;
          animation: pulse 1s -0.581s infinite linear;
}
.loader-ios svg path:nth-of-type(9) {
  -webkit-animation: pulse 1s -0.664s infinite linear;
          animation: pulse 1s -0.664s infinite linear;
}
.loader-ios svg path:nth-of-type(10) {
  -webkit-animation: pulse 1s -0.747s infinite linear;
          animation: pulse 1s -0.747s infinite linear;
}
.loader-ios svg path:nth-of-type(11) {
  -webkit-animation: pulse 1s -0.83s infinite linear;
          animation: pulse 1s -0.83s infinite linear;
}
.loader-ios svg path:nth-of-type(12) {
  -webkit-animation: pulse 1s -0.913s infinite linear;
          animation: pulse 1s -0.913s infinite linear;
}

@-webkit-keyframes pulse {
  50% {
    fill: #868686;
  }
  to {
    fill: rgba(134, 134, 134, 0.4);
  }
}

@keyframes pulse {
  50% {
    fill: #868686;
  }
  to {
    fill: rgba(134, 134, 134, 0.4);
  }
}
@-webkit-keyframes iosIntro {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes iosIntro {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#breakLine {
  display: none;
}

@media screen and (max-width: 700px) {
  #breakLine {
    display: block;
  }
}
