.errorlist{
    color: red;
    list-style: none;
}
.container, .navbar{
    padding: 0.2em!important; 
}
.profile-image{
    border-radius: 50% !important;
    width: 225px !important;
    height: 225px!important;
}
@media screen and (max-width: 600px) {
  .profile-image {
    border-radius: 50% !important;
    width: 250px !important;
    height: 250px !important;
  }
}
.no-posts{
  font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666;
}
@media screen and (max-width: 600px) {
  .no-posts{
    font-size: 23px; font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 0px; color: #666;
  }
}

/* edit-profile */
.edit-profile {
  border-radius: 4px;
  background-color:white;

  border: 1px solid black;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  color: black;
  font-size: large;
}


.edit-profile span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#created_on {
  display: none;
}
#button-like {
  float: left;
    margin: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}
