.errorlist{
    color: red;
    list-style: none;
}
.container, .navbar{
    padding: 0.2em!important; 
}
.profile-image{
    border-radius: 50% !important;
    width: 210px !important;
    height: 210px!important;
}
#follow{
  font-size: 18px!important;
}
@media screen and (max-width: 600px) {
  .profile-image {
    border-radius: 50% !important;
    width: 150px !important;
    height: 150px !important;
  }
  #follow{
    font-size: 17px!important;
    padding-bottom: 0.7em;
  }
}
.no-posts{
  font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px;
}
@media screen and (max-width: 600px) {
  .no-posts{
    font-size: 23px; font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 0px;
  }
}

/* edit-profile */
.edit-profile {
  border-radius: 4px;
  background-color:white;
  border: 1px solid black;
  padding: 15px;
  transition: all 0.5s;
  color: black;
  font-size: large;
}


.edit-profile span {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: 0.5s;
}
#created_on {
  display: none;
}
#button-like {
  float: left;
    margin: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

/* Fav Page BTN */
.fav-page {
  border-radius: 4px;
  background-color:white;

  border: 1px solid black;
  padding: 15px;
  /* width: 200px; */
  transition: all 0.5s;
  color: black;
  font-size: large;
}


.fav-page span {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: 0.5s;
}
