{% extends 'home_base.html' %}
{% block content %}
{% load static %}
<style>

@media screen and (max-width: 700px) {

  #card{

    margin-left: 0em!important;
    border: solid 0.1px rgb(206, 206, 206);

  }
  #break{
    display: block!important;
  }
  #tgv{
    margin-left: -40px!important;
    margin-top: -70px;

  }
  #tgv input{
    width: 90%;
  }
  #tgv input{
    width: 200px!important;
  }
}
  #card{
    border: solid 0.1px rgb(206, 206, 206)!important;

    margin-left: -4em;
  }
  #break{
    display: none;
  }
  #tgv{
    margin-left: -160px;
    margin-top: -70px;

  }
  #tgv input{
    width: 90%;
  }
  .searchbar{
    display: none;
  }
</style>
{% if theme == "Light Mode" %}
  <style>
    body, .navbar {
      background-color: #ffffff!important;
    }
  </style>
{% endif %}
{% if theme == "Dark Mode" %}
  <style>
    body, .navbar {
      background-color: #18191A!important;
      color: #e4e6eb!important;
    }

    .top h3{
      color: #e4e6eb!important;
    }
    .nav-item i, .dot .fa-pen-to-square{
      color: #e4e6eb!important;
    }
    #card, #no-posts{
      background-color: #242526!important;
    }
    .searchbar_out input{
      background-color: #242526!important;
      color: white;
    }

    .likes{
      color: #B0B3B8!important;
    }
    .likes, .comments{
      color: #B0B3B8!important;
    }
    .message b{
      color:#E4E6EB!important;
    }
    .actionBtns svg{
      fill: #E4E6EB!important;
    }
    .logo h3 {
      color: #E4E6EB!important;
    }

  </style>
{% endif %}




  <main>



      <div class="container">
      <div class="col-9">
        <br>
        <center>
          <form id="tgv"  method="GET" action="{% url 'home:search' %}">
            <div class="searchbar_out">
              <input type="text" name="q" autocomplete="off" placeholder="Search">
            </div>
          </form>
        </center> <br>
        <div class="results">
        {% for result in search_results %}
        <div id="card" class="card" >
          <div class="top">
            <a href="{% url 'accounts:profile' result.id %}">
            <div class="userDetails">
              <div class="profilepic">
                <div class="profile_img">
                  <div class="image">
                    {% for image in accounts_profile_image %}
                    {% if result.id == image.author.id %}
                    <img src="{{ image.image.url }}" alt="">
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <h3><strong>{{ result.username }}</strong></h3>
            </div>
            </a>
          </div>
        </div>
        <br id="break" />
        <br id="break" />
        {% endfor %}


      </div>





      </div>
      <div class="col-3">
        <h4>Top Followers</h4>
        {% for suggestion in suggestions_id %}
        {% for suggestion_data in suggestions_data %}
        {% if suggestion_data.id == suggestion %}
        <div class="card" style="margin: 0.1px;">
          <div class="top">
            <div class="userDetails">
              <div class="profilepic">
                <div class="profile_img">
                  <div class="image">

                    {% for image in suggestions_image %}
                    {% if image.author.id == suggestion_data.id  %}
                    <a href="{% url 'accounts:profile' suggestion_data.id %}">
                    <img src="{{ image.image.url }}" alt="">
                    </a>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <a href="{% url 'accounts:profile' suggestion_data.id %}">
              <h3>{{ suggestion_data.username }}<br><span>Popular</span></h3>
              </a>
            </div>
            <!-- <div>
              <a class="follow">Follow</a>
            </div> -->
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}

      </div>
  </main>

<!-- jQuery CDN hosted by Google -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- jScroll plug-in CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

  {% endblock content %}