{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'login/style.css' %}">
  <link rel="icon" href="{% static '/logo/logo.ico' %}">

  <title>Geekshub - Login</title>
  <style>
    .phone-app-demo {
        height: 61.8rem;
        background: url("{% static 'login/mobile-app.png' %}") center no-repeat;
        flex: 1;
    }
    #forget-password:hover{
      text-decoration: underline!important;
    }
  </style>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-app-demo"></div>
      <div class="form-data">
        <form method="POST">
          <div class="logo">
            <img src="{% static 'logo/logo1.png' %}" alt="logo">
          </div>

        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15.5px;">Password reset sent.</h2> 
        <br>
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: small;">we've emailed you instructions for setting your passwrd, if an account exists with the email you entered. you should receive them shortly.</p> 
        <br>
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: small;">If you dot receive an mail, please make sure you 've entered the address you registered with, and check your spam folder.<p> 
        
        </form>
        <br><br>
        <div class="get-the-app">
          <div class="badges">
            <img src="{% static 'login/app-store.png' %}" alt="app-store badge">
            <img src="{% static 'login/google-play.png' %}" alt="google-play badge">
          </div>
        </div>
      </div>
    </div>


  </div>

</body>
</html>