{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'login/style.css' %}">
  <link rel="icon" href="{% static '/logo/logo.ico' %}">

  <title>Geekshub - Login</title>
  <style>
    .phone-app-demo {
        height: 61.8rem;
        background: url("{% static 'login/mobile-app.png' %}") center no-repeat;
        flex: 1;
    }
  </style>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-app-demo"></div>
      <div class="form-data">
        <form method="POST">
            {% csrf_token %}
          <div class="logo">
            <img src="{% static 'logo/logo1.png' %}" alt="logo">
          </div>

          {{form.email}}
          {{ form.errors.email }}
          <button class="form-btn" type="submit">Send email</button>

          
        </form>
        <br><br>
        <div class="get-the-app">
          <div class="badges">
            <img src="{% static 'login/app-store.png' %}" alt="app-store badge">
            <img src="{% static 'login/google-play.png' %}" alt="google-play badge">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
      document.getElementById('id_email').placeholder = "username@example.com";
  </script>
</body>
</html>