{% extends 'home_base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'create_post/style.css' %}">
  <style>
  @media screen and (max-width: 600px) {
    .navbar .container #logo2 {
      margin-top: -0.5em;
    }
    .navbar .container .nav-links {
      margin-top: -0.5em;
    }
  }
  .navbar .container #logo2 {
    margin-bottom: -0.9em;
  }
  .navbar .container .nav-links {
    margin-bottom: -0.9em;
  }
  </style>
{% if theme == "Light Mode" %}
  <style>
    body, .navbar {
      background-color: #ffffff!important;
    }
  </style>
{% endif %}
{% if theme == "Dark Mode" %}
  <style>
    body, .navbar {
      background-color: #18191A!important;
      color: #e4e6eb!important;
    }

    .top h3{
      color: #e4e6eb!important;
    }
    .nav-item i, .dot .fa-pen-to-square{
      color: #e4e6eb!important;
    }
    #post, #no-posts{
      background-color: #242526!important;
    }
    .searchbar input{
      background-color: #242526!important;
      color: white;
    }

    .likes{
      color: #B0B3B8!important;
    }
    .likes, .comments{
      color: #B0B3B8!important;
    }
    .message b{
      color:#E4E6EB!important;
    }
    .actionBtns svg{
      fill: #E4E6EB!important;
    }
    .logo h3 {
      color: #E4E6EB!important;
    }
    #id_body{
    background-color: #242526!important;
    color: white;
  }
  #id_body::placeholder{
    color: rgb(172, 172, 172);
  }

  .custom-file-label{
    background-color: #242526!important;
    color: rgb(172, 172, 172);
  }

  </style>
{% endif %}

<div class="col-md-8 offset-md-2">
<br>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
  {{ post_form.body }} <br>
  {{ post_form.body.errors }}
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="image" id="inputGroupFile01" accept="image/*">
      <label class="custom-file-label" id="inputGroupFile01label" for="inputGroupFile01">Choose a Picture</label>
    </div>
  </div>
  {{ post_form.image.errors }}

  <input type="text" name="created_on" id="created_on">

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="{% static 'js/upload_image.js' %}"></script>
<script>
    function websiteTimezonetoEgypt(offset){
      var b=new Date()
      var utc=b.getTime()+(b.getTimezoneOffset()*60000);
      var time=new Date(utc+(3600000*offset));
      return time.toLocaleString();
	}

  setInterval(function() {
    var now = websiteTimezonetoEgypt('+2');
    // console.log(now);
    // Printing the current date in the input
    document.getElementById("created_on").value = now;

  }, 1000);
  
</script>
{% endblock %}