{% extends 'home_base.html' %}
{% block content %}
{% load static %}
<style>
  /* edit-profile */
.comment-button {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    font-size: large;
    outline: none;
}
#button-fav{
    background-color: Transparent;
    border: none;
    cursor:pointer;
    font-size: large;
    outline: none;
}
</style>
{% if theme == "Light Mode" %}
  <style>
    body, .navbar {
      background-color: #ffffff!important;
    }
    #break{
    display: none!important;
    }
  </style>
{% endif %}
{% if theme == "Dark Mode" %}
  <style>
    body, .navbar {
      background-color: #18191A!important;
      color: #e4e6eb!important;
    }

    .top h3{
      color: #e4e6eb!important;
    }
    .nav-item i, .dot .fa-pen-to-square{
      color: #e4e6eb!important;
    }
    #post, #no-posts, #comment_obj{
      background-color: #242526!important;
    }
    .searchbar input{
      background-color: #242526!important;
      color: white;
    }
    #commentvalue{
      background-color: #242526!important;
      color: white;
    }


    .max_likes{
      color: #B0B3B8!important;
    }
    .max_likes, .comments{
      color: #B0B3B8!important;
      cursor: text!important;
    }
    .message b{
      color:#E4E6EB!important;
    }
    .actionBtns svg{
      fill: #E4E6EB!important;
    }
    .logo h3 {
      color: #E4E6EB!important;
    }
    #break{
    display: none!important;
    }
    @media screen and (max-width: 700px) {
      #break{
      display: inline!important;
      }
    }
    .pagination a {
      color: #B0B3B8!important;
    }
    .pagination a:hover:not(.active) {
      background-color: #242526!important;
      color: white!important;
    }
  </style>
{% endif %}


<link rel="stylesheet" href="{% static 'create_post/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>




  <main>
    <div class="container" >
      <div class="col-9">

        <div class="card" id="post">
          <div class="top">
            <a href="{% url 'accounts:profile' post.author.id %}">
            <div class="userDetails">
              <div class="profilepic">
                <div class="profile_img">
                  <div class="image">
                    <img src="{{ image_user_profile_picture }}" alt="">
                  </div>
                </div>
              </div>
              <h3>{{ post.author }}</h3>
            </div>
          </a>
          {% if request.user.id == post.author.id %}
              <div>
              <a href="{% url 'posts:edit' post.id %}" style="color: black;"><span class="dot" style="padding: 1em;" title="Click to edit the post"><i class="fa-solid fa-pen-to-square"></i></span></a>
              <a style="color: red;" href="{% url 'posts:delete' post.id %}"><span class="dot"><i class="fa-solid fa-trash" title="Click to delete the post"></i></span></a>
            </div>
            {% endif %}
          </div>
          {% comment %} <a href="{{ post.image.url }}"> {% endcomment %}
          <div class="imgBx">
            <img src="{{ post.image.url }}" alt="post-1" class="cover">
          </div>
          {% comment %} </a> {% endcomment %}
          <div class="bottom">
            <div class="actionBtns">
              <div class="left">
                <form method="POST" id="like-form" onclick="changeLikeColor()">
                  {% csrf_token %}
                  <button id="button-like" type="submit">
                <span class="heart">
                  <span>
                    <svg id="heart"   aria-label="Like" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 48 48"
                      width="24">
                      <path   
                        d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                      </path>

                    </svg>
                  </span>
                </span>
              </button>
            </form>
                <a href="{% url 'posts:post' post.id %}#Comments">
                <svg style="float: left;" aria-label="Comment" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24">
                  <path clip-rule="evenodd"
                    d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                    fill-rule="evenodd"></path>
                </svg>
                </a>
                <svg  height="0.1">
                </svg>
              </div>
              <div class="right">
                <form method="POST" id="Favorite-form" onclick="changeFavoriteColor()">
                {% csrf_token %}
                <button id="button-fav">
                
                <svg aria-label="Save" class="_8-yf5" id="Addfavorite"  color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24">
                  <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">
                  </path>
                </svg>
                </button>
                </form>
              </div>
            
            </div>
            <a style="color: #262626; cursor: pointer;" class="max_likes">
              <span id="likes">{{max_likes}}</span><span> Likes</span>
            </a>
            <a>
              <p class="message"><b>{{ post.body }}</b> 
              </p>
            </a>

            <a>
              <h5 class="postTime" id="countup1"><span class="years"></span><span class="days"></span><span class="hours"></span><span class="minutes"></span><span class="justnow"></span></h5>
            </a>
            <form id="comment-form" method="POST">
              {% csrf_token %}
            <div class="addComments" id="Comments">
              <div class="reaction">
              </div> 
              <input type="text" class="text" required id="commentvalue" autocomplete="off" placeholder="Add a comeent...">
              <input type="text" class="text" id="created_on_comment" style="display: none;" id="created_on_comment" placeholder="Add a comeent...">


              <button class="comment-button"><a>Submit</a></button>
              <div id="up"></div>

            </div>
          </form>
          </div>
        </div>
        
        {% include 'comments.html' %}


      </div>
      <div class="col-3">
        <h4>Top Followers</h4>
        {% for suggestion in suggestions_id %}
        {% for suggestion_data in suggestions_data %}
        {% if suggestion_data.id == suggestion %}      
        <div class="card" style="margin: 0.1px;">
          <div class="top">
            <div class="userDetails">
              <div class="profilepic">
                <div class="profile_img">
                  <div class="image">
                    
                    {% for image in suggestions_image %}
                    {% if image.author.id == suggestion_data.id  %}
                    <a href="{% url 'accounts:profile' suggestion_data.id %}">
                    <img src="{{ image.image.url }}" alt="">
                    </a>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <a href="{% url 'accounts:profile' suggestion_data.id %}">
              <h3>{{ suggestion_data.username }}<br><span>Popular</span></h3>
              </a>
            </div>
            <!-- <div>
              <a class="follow">Follow</a>
            </div> -->
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
      
      </div>
  </main>
  
  <script>
    function websiteTimezonetoEgypt(offset){
      var b=new Date()
      var utc=b.getTime()+(b.getTimezoneOffset()*60000);
      var time=new Date(utc+(3600000*offset));
      return time.toLocaleString();
	}
    var now = websiteTimezonetoEgypt('+2');

    // Printing the current date in the input
    document.getElementById("created_on_comment").value = now;


</script>


<script>
cheek_user = "{{ cheek_user }}";

function changeLikeColor() {
  max_likes = document.getElementById("likes");
  // Like
  if (cheek_user == "0") {
    cheek_user = "1";
    document.getElementById("heart").style = "fill: red!important;";
    max_likes.innerHTML = parseFloat(max_likes.innerHTML) + 1;
  } else {
    // Dislike
    cheek_user = "0";
    {% if theme == "Dark Mode" %}
      document.getElementById("heart").style = "fill: #E4E6EB!important;";
    {% else %}
      document.getElementById("heart").style = "fill: #262626!important;";
    {% endif %}
      max_likes.innerHTML = max_likes.innerHTML - 1;
  }
}

  if ("{{cheek_user}}" == 0) {
    {% if theme == "Dark Mode" %}
      document.getElementById("heart").style = "fill: #E4E6EB!important;";
    {% else %}
      document.getElementById("heart").style = "fill: #262626!important;";
    {% endif %}
  } else if("{{cheek_user}}" == 1) {
    document.getElementById("heart").style = "fill: red!important;";
    
  }

</script>



<script>
  cheek_user_fav = "{{ cheek_user_fav }}";

function changeFavoriteColor() {
  //  max_likes = document.getElementById("likes");
  // Like
  if (cheek_user_fav == "0") {
    cheek_user_fav = "1";
    document.getElementById("Addfavorite").style = "fill: #ebeb09!important;";
    // max_likes.innerHTML = parseFloat(max_likes.innerHTML) + 1;
  } else {
    // Dislike
    cheek_user_fav = "0";
    {% if theme == "Dark Mode" %}
      document.getElementById("Addfavorite").style = "fill: #E4E6EB!important;";
    {% else %}
      document.getElementById("Addfavorite").style = "fill: #262626!important;";
    {% endif %}
    // max_likes.innerHTML = max_likes.innerHTML - 1;
  }
}

  if ("{{cheek_user_fav}}" == 0) {
    {% if theme == "Dark Mode" %}
      document.getElementById("Addfavorite").style = "fill: #E4E6EB!important;";
    {% else %}
      document.getElementById("Addfavorite").style = "fill: #262626!important;";
    {% endif %}
  } else if("{{cheek_user_fav}}" == 1) {
    document.getElementById("Addfavorite").style = "fill: #ebeb09!important;";
    
  }

</script>



<script type="text/javascript">
    function websiteTimezonetoEgypt(offset){
    var b=new Date()
    var utc=b.getTime()+(b.getTimezoneOffset()*60000);
    var time=new Date(utc+(3600000*offset));
    return time.toLocaleString();
    }
    date_now = websiteTimezonetoEgypt('+2');
    
$(document).on("submit", "#like-form", function (e) {
  e.preventDefault();
  $.ajax({
    type: "POST",
    url: '{% url "posts:post" post.id %}',
    data: {
      post_valid: "True",
      datenow: date_now,
      csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
    },
    success: function () {},
  });
});
</script>


<script>
  $(document).on("submit", "#Favorite-form", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: '{% url "posts:post" post.id %}',
      data: {
        favorite_valid:"True",
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      },
      success: function () {},
    });
  });
</script>


<script>

  window.onload = function() {
  // Month Day, Year Hour:Minute:Second, id-of-element-container
  countUpFromTime("{{ post.created_on }}", 'countup1'); // ****** Change this line!
  };

function countUpFromTime(countFrom, id) {
  function websiteTimezonetoEgypt(offset){
		var b=new Date()
		var utc=b.getTime()+(b.getTimezoneOffset()*60000);
		var time=new Date(utc+(3600000*offset));
		return time.toLocaleString();

	}
  



  
  var now = new Date(websiteTimezonetoEgypt('+2')),
      countFrom = new Date(countFrom);

      
      timeDifference = (now - countFrom);

  var secondsInADay = 60 * 60 * 1000 * 24,
      secondsInAHour = 60 * 60 * 1000;
      

  days = Math.floor(timeDifference / (secondsInADay) * 1);
  years = Math.floor(days / 365);
  if (years > 1){ days = days - (years * 365) }
  hours = Math.floor((timeDifference % (secondsInADay)) / (secondsInAHour) * 1);
  mins = Math.floor(((timeDifference % (secondsInADay)) % (secondsInAHour)) / (60 * 1000) * 1);
  secs = Math.floor((((timeDifference % (secondsInADay)) % (secondsInAHour)) % (60 * 1000)) / 1000 * 1);

  var idEl = document.getElementById(id);
  if (years != 0) {
    idEl.getElementsByClassName('years')[0].innerHTML = years + " Years ago ";    
  }
  if (days != 0 && years == 0) {
    idEl.getElementsByClassName('days')[0].innerHTML = days + " Days ago ";
  }
  if (hours != 0 && years == 0 && days == 0) {
    idEl.getElementsByClassName('hours')[0].innerHTML = hours + " hours ago ";
  }
  if (mins != 0 && years == 0 && days == 0 && hours == 0) {
    idEl.getElementsByClassName('minutes')[0].innerHTML = mins + " Minutes ago ";
  }
  if (mins == 0 && years == 0 && days == 0 && hours == 0) {
    idEl.getElementsByClassName('justnow')[0].innerHTML = "Justnow";    
  }

}
</script>


<script type="text/javascript">
    function websiteTimezonetoEgypt(offset){
      var b=new Date()
      var utc=b.getTime()+(b.getTimezoneOffset()*60000);
      var time=new Date(utc+(3600000*offset));
      return time.toLocaleString();
	  }







    function comment_date_on() {
        var now = websiteTimezonetoEgypt('+2');
        return now;
    }

    


    $(document).on("submit", "#comment-form", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: location.href,
      data: {
        comment_valid:"True",
        datenow:comment_date_on(),
        created_on_comment:$("#created_on_comment").val(),
        commentvalue:$("#commentvalue").val(),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
        
      },
      success: function () {
        document.getElementById('commentvalue').value = "";
        document.location.reload();
      }

    });
});
  </script>


{% endblock content %}