{% extends 'home_base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'create_post/style.css' %}">
<style>
  @media screen and (max-width: 600px) {
    .navbar .container #logo2 {
      margin-top: -0.5em;
    }
    .navbar .container .nav-links {
      margin-top: -0.5em;
    }
  }
  .navbar .container #logo2 {
    margin-bottom: -0.9em;
  }
  .navbar .container .nav-links {
    margin-bottom: -0.9em;
  }
  </style>
{% if theme == "Light Mode" %}
<style>
  body, .navbar {
    background-color: #ffffff!important;
  }
</style>
{% endif %}
{% if theme == "Dark Mode" %}
<style>
  body, .navbar {
    background-color: #18191A!important;
    color: #e4e6eb!important;
  }

  .top h3{
    color: #e4e6eb!important;
  }
  .nav-item i, .dot .fa-pen-to-square{
    color: #e4e6eb!important;
  }
  #post, #no-posts{
    background-color: #242526!important;
  }
  .searchbar input{
    background-color: #242526!important;
    color: white;
  }

  .likes{
    color: #B0B3B8!important;
  }
  .likes, .comments{
    color: #B0B3B8!important;
  }
  .message b{
    color:#E4E6EB!important;
  }
  .actionBtns svg{
    fill: #E4E6EB!important;
  }
  .logo h3 {
    color: #E4E6EB!important;
  }
  input[type=text]{
  background-color: #242526!important;
  color: white;
}
  input[type=text]::placeholder, input[type=email]::placeholder{
    color: rgb(172, 172, 172);
  }


  .custom-file-label{
    background-color: #242526!important;
    color: rgb(172, 172, 172);
  }
  .form-control{
    background-color: #242526!important;
    color: #E4E6EB!important; 

  }

</style>
{% endif %}


  <main>
    <div class="container">
      <div class="col-9">
          <center><img class="profile-image"  src="{{ image.image.url }}" alt=""></center>
          <br>
          <hr>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.username.errors }}
            {% if request.method == "POST" %}
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" autocomplete="off" name="username" placeholder="{{ username }}" >
            </div>
            {% else %}
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" autocomplete="off" name="username" placeholder="{{ username }}">
            </div>
            {% endif %}
            <div class="form-group">
              <label for="email">Email</label>
              {% if message == ""  %}
              <input type="email"  class="form-control" id="exampleInputEmail1" autocomplete="off" name="email" placeholder="{{ request.user.email }}">
              {% elif message == "Done" %}
              <input type="email"  class="form-control" id="exampleInputEmail1" autocomplete="off" name="email" placeholder="{{ email }}">
              {% elif message != "Done" and message != ""  %}
              <input type="email"  class="form-control" id="exampleInputEmail1" autocomplete="off" name="email" placeholder="{{ request.user.email }}">

              {% endif %}
            </div>
            {{ form.image.errors }}
            {% if meesage != "" and message != "Done" %}
            <ul class="errorlist">
              <li>{{ message }}</li>
            </ul>
            {% endif %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" autocomplete="off" id="inputGroupFile01" accept="image/*">
                <label class="custom-file-label" id="inputGroupFile01label" for="inputGroupFile01">Choose a Picture</label>
              </div>
            </div> 

            <select class="form-control" name="theme">
              <option value="Light Mode" {% if cheek_theme == "Light Mode" %}selected{%endif%}>Light Mode</option>
              <option value="Dark Mode" {% if cheek_theme == "Dark Mode" %}selected{%endif%}>Dark Mode</option>
            </select> <br>
            <button type="submit"  class="btn btn-primary">Edit Profile</button>
          </form>
          <br>
        </div>
        



  </main>

  {% endblock content %}