<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>


<div class="sub-main">
    <form action="POST" id="follow-form">
    {% csrf_token %}
    
    <button class="edit-profile" id="follow-button"><span>{{ follow_message }}</span></button> 

    <!-- {{ max_cheek_followers }} -->
    </form>
    <br>
    <div class="no-posts" style="color: #676c73;">
      <span style="display: inline;">{{ max_cheek_followers }}</span><span> Follower</span> • <span style="display: inline;">{{ max_cheek_following }}</span> <span>Following</span>
      </div>
</div>

<script type="text/javascript">
    function websiteTimezonetoEgypt(offset){
    var b=new Date()
    var utc=b.getTime()+(b.getTimezoneOffset()*60000);
    var time=new Date(utc+(3600000*offset));
    return time.toLocaleString();
    }
    date_now = websiteTimezonetoEgypt('+2');

    $(document).on("submit", "#follow-form", function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: location.href,
        data: {
          follow_valid:"True",
          datenow: date_now,

          csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
        },
        success: function () {
            $(".sub-main").load(location.href + " .sub-main");
        },
      });
    });
</script>

