<style>
  #messages{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }
</style>

<div class="sub-main">

    <div class="no-posts" style="color: #65676B;" id="follow">
      <span style="display: inline;">{{ max_cheek_followers }}</span><span> Follower</span> • <span style="display: inline;">{{ max_cheek_following }}</span> <span>Following</span>
    </div>
    
    <form action="POST" id="follow-form">
    {% csrf_token %}
    
    <button class="edit-profile"  style="width: 170px;" id="follow-button"><span>{{ follow_message }}</span></button> 

    <button id="messages" style="height: 53px!important;" height="53px" onclick="this.form.submit(); this.disabled=true; this.value='Sending…';" >
    <a style="height: 53px!important;" class="edit-profile" href="{% url 'inbox:inboxpage' userid %}?friends_area=false" id="follow-button" ><i  class="fa-regular fa-message"></i></a> 
    </button>
    
    </form>

</div>

<script type="text/javascript">
    function websiteTimezonetoEgypt(offset){
    var b=new Date()
    var utc=b.getTime()+(b.getTimezoneOffset()*60000);
    var time=new Date(utc+(3600000*offset));
    return time.toLocaleString();
    }
    date_now = websiteTimezonetoEgypt('+2');

    $(document).on("submit", "#follow-form", function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: location.href,
        data: {
          follow_valid:"True",
          datenow: date_now,

          csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
        },
        success: function () {
            $(".sub-main").load(location.href + " .sub-main");
        },
      });
    });
</script>

