{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'login/style.css' %}">
  <link rel="icon" href="{% static '/logo/logo.ico' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Geekshub - Login</title>
  <style>
    .phone-app-demo {
        height: 61.8rem;
        background: url("{% static 'login/mobile-app.png' %}") center no-repeat;
        flex: 1;
    }
    #forget-password:hover{
      text-decoration: underline!important;
    }

  </style>

</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-app-demo"></div>
      <div class="form-data">
        <form method="POST">
            {% csrf_token %}
          <div class="logo">

            <img src="{% static 'logo/logo1.png' %}" alt="logo">
          </div>
          <input type="text" placeholder="Username" autocomplete="off" name="username">
          <input type="password" placeholder="Password" autocomplete="off" name="password">
          {{form.non_field_errors}}
          <button class="form-btn" type="submit">Log in</button>
          <span class="has-separator">Or</span>
          <a href="{% provider_login_url 'google' %}" class="form-btn" id="social" style="font-family: 'Courier New', Courier, monospace; padding: 7px; margin-top: -6.5px; background-color: #dd4b39; font-size: 13px;" >
            <i class="fa fa-google fa-fw"></i>  
          Google Login
          </a>
          <a href="{% provider_login_url 'facebook' %}" class="form-btn" id="social" style="font-family: 'Courier New', Courier, monospace; padding: 7px; margin-top: -6.5px; background-color: #3B5998; font-size: 13px;" >
            <i class="fa fa-facebook fa-fw"></i>  
          Facebook Login
          </a>
          <a class="password-reset" href="{% url 'password_reset' %}">Forgot password?</a>
        </form>
        <div class="sign-up">
          Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a>
        </div>

          
        </form>
        <br><br>
        <div class="get-the-app">
          <div class="badges">
            <img src="{% static 'login/app-store.png' %}" alt="app-store badge">
            <img src="{% static 'login/google-play.png' %}" alt="google-play badge">
          </div>
        </div>
      </div>
    </div>


  </div>

</body>
</html>